.grad_bar{
    height: 100%;
    margin: auto;
    background: linear-gradient(90deg, #888, #fff, #888);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
    border-radius: 3px;
    opacity: .4;
  }
  
  @keyframes gradient{
      0% {
          background-position: 0% 50%;
      }
      100% {
          background-position: 100% 50%;
      }
  }