.o{
    position: relative;
    background: transparent;
    margin: auto;
    --anim-dur: .8s;
    width: 3em;
    height: 3em;
}
.i{
    position: absolute;
    width: 3px;
    height: 90%;
    background: transparent;
    top: 5%;
    left: calc(1.5em - 1.5px);
    transform: rotate(0deg);
    opacity: .2;
    animation: blinking infinite reverse var(--anim-dur);
    animation-delay: calc(var(--anim-dur)*0/8);
}
.i .r{
    background: white;
    width: 100%;
    height: 13px;
}

.i+.i{
    transform: rotate(45deg);
    animation-delay: calc(var(--anim-dur)*1/8);
}

.i+.i+.i{
    transform: rotate(90deg);
    animation-delay: calc(var(--anim-dur)*2/8);
}
.i+.i+.i+.i{
    transform: rotate(135deg);
    animation-delay: calc(var(--anim-dur)*3/8);
}
.i+.i+.i+.i+.i{
    transform: rotate(180deg);
    animation-delay: calc(var(--anim-dur)*4/8);
}
.i+.i+.i+.i+.i+.i{
    transform: rotate(225deg);
    animation-delay: calc(var(--anim-dur)*5/8);
}
.i+.i+.i+.i+.i+.i+.i{
    transform: rotate(270deg);
    animation-delay: calc(var(--anim-dur)*6/8);
}
.i+.i+.i+.i+.i+.i+.i+.i{
    transform: rotate(315deg);
    animation-delay: calc(var(--anim-dur)*7/8);
}

@keyframes blinking{
    0%{opacity: 0}
    12.5%{opacity: .125}
    25%{opacity: .25}
    37.5%{opacity: .375}
    50%{opacity: .5}
    62.5%{opacity: .625}
    75%{opacity: .75}
    87.5%{opacity: .875}
    100%{opacity: 1}
}