.profile-form{
    background: var(--grey-4);
    border-radius: 10px;
    position: relative;
    padding: 3em 4em;
}

label[for='uploader']{
	display: inline-block;
	cursor: pointer;
	font-size: .8em;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#uploader{
    display: none;
}

.save__or__edit__button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: .7;
    transition: .1s;
}

.save__or__edit__button:hover{
    opacity: 1;
    transition: .1s;
}

.save__or__edit__button img{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    padding: 13px;
}

.profile-form{
    display: grid;
    grid-template-rows: auto auto min-content auto;
    color: var(--white-ish-1);
    grid-row-gap: 1.5em;
}

.profile-form input{
    border: none;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1em;
}

.meta__key input[disabled]{
    color: var(--yellow-ish-1);
    font-weight: 700;
}

.name-country{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.label__and__input{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.email__phone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.meta__key .label__and__input,
.save-edit{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.meta__key .label__and__input input/*,
.save-edit .upload,
.save-edit .download*/
{
    height: 3em;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 0 0 #000;
}

.save-edit .upload,
.save-edit .download{
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 0 0 #000;
    background: var(--white-ish-1);
}

*{
    --image--for--inp--width: 3em;
}

#pdf-down img,
#pdf-up img,
#jpeg-down img,
#jpeg-up img{
    height: var(--image--for--inp--width);
}

#up-im, #down-im{
    width: var(--image--for--inp--width);
}

#upload, #download{
    height: min-content;
    width: min-content;
}

.input label,
.output label{
    display: grid;
    grid-template-columns: auto auto auto;
}

.hoverableImg{
    position: relative;
    cursor: pointer;
    margin-left: 15px;
}

.hoverableImg img.floatty{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .1s;
    pointer-events: none;
}

.hoverableImg img:not(.floatty){
    opacity: 1;
    transition: .1s;
    pointer-events: none;
}

.hoverableImg:hover img.floatty{
    opacity: 1;
    transition: .1s;
}
.hoverableImg:hover img:not(.floatty){
    opacity: 0;
    transition: .1s;
}

.meta-key-disp{
    color: var(--yellow-ish-1);
    background: var(--white-ish-1);
    padding: .5em 1em;
    border-radius: 5px;
    box-shadow: 0 6px 0px 0 black;
    font-weight: 600;
}

.imageModal{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    /* transform: translate(-50%, -50%); */
    /* padding: 1em; */
    background: #222b!important;
}

.im-mod-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    max-height: 100%;
    background: var(--grey-4);
    width: max-content;
    margin: auto;
    padding: 1em;
    border-radius: .5em;
    position: relative;
}

.imageModal img{
    height: 400px;
}

.im-mod-inner button img{
    width: 2em;
    height: unset;
    position: relative;
    z-index: 1;
}

.im-mod-inner button span{
    position: relative;
    z-index: 1;
}

.im-mod-inner button{
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--yellow-ish-1);
    font-weight: 800;
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: 3px;
}

.im-mod-inner button::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--grey-3);
    transition: .15s;
    z-index: 0;
}

.im-mod-inner button:hover::after{
    height: 100%;
}

@media only screen and (max-width: 760px){
    .meta-key-disp span{
        word-break: break-all;
    }
}