.Stripe {
    text-align: center;
}

.Stripe-logo {
    height: 40vmin;
    pointer-events: none;
}
.Stripe-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Stripe-link {
    color: #61dafb;
}

button.centerL{
    border: none;
    cursor: pointer;
    color: var(--white-ish-1)
}