/* .buttonActive {} */

.buttonWait {
    pointer-events: none;
    background: var(--grey-02);
    color: Var(--grey-04);
}

.buttonDone {
    pointer-events: none;
    background: var(--grey-02);
    color: Var(--grey-04);
}

