.thing{

    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: auto;
    margin: auto;
    max-width: max-content;
}

.thing input, button{
    padding: .8em 1em;
    font-size: 1em;
}

.thing button[disabled]{
    background: #f1f1f1;
    color: black;
    max-width: 100%;
    word-break: break-all;
}

.back-to{
    margin: auto;
    color: var(--white-ish-1);
    margin-bottom: 2em;
}
