.closer-c{
    /* width: 1.5em;
    height: 1.5em; */
    position: absolute;
    cursor: pointer;
    opacity: .7;
    transition: .2s;
    /* top: 2em;
    right: 2em; */
}

.closer-c:hover{
    opacity: 1;
    transition: .2s;
}

.closer-c .cross{
    width: 100%;
    height: 5px;
    background: var(--white-ish-1);
    position: absolute;
    transform: rotate(45deg) !important;
}
.closer-c .cross+.cross{
    transform: rotate(-45deg) !important;
}
