.underlined{
    display: inline;
    margin-left: .6em;
}

.assistance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
    color: var(--white-ish-1);
    position: relative;
}

.yellow{
    padding: 1.5em 1em;
    background: var(--yellow-ish-1);
    border: none;
    border-radius: 10px;
    color: var(--white-ish-1);
    box-shadow: 0 10px 2px 0px #000;
    width: 100%;
    box-sizing: border-box;
}

.whitewhite{
    background: var(--white-ish-1);
    color: var(--grey-4);
    padding: 2em 1em;
    border-radius: 10px;
    box-shadow: 0 10px 2px 0px #000;
}

.whitewhite .underlined{
    color: blue;
}

.dodo, .whitewhite{
    text-align: center;
    font-size: 1.6em;
}

.pop_up__{
    position: absolute;
    background: var(--brownish-1);
    width: 65%;
    text-align: center;
    font-size: 1.4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 10px;
}

.pop_up__.fadeaway{
    animation: fadeaway 1s;
}

@keyframes fadeaway{
    from{opacity: 1;}
    to{opacity: 0}
}

.pop_up__ a{
    color: var(--white-ish-1);
    font-weight: 800;
}



@media only screen and (max-width:700px){
    .assistance{
        justify-content: unset;
        gap: 1em;
    }
    .whitewhite{
        word-break: break-all;
    }
}