.messages{
    max-height: 448px;
    display: flex;
    flex-direction: column;
    gap: 0em;
    padding: 1em 2em;
    color: var(--white-ish-1);
}

.messages-head{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .2em;
    flex: initial;
    padding-bottom: 1em;
}

.messages-head .user-name{
    font-size: 1.8em;
}

.user-name .green-dot{
    margin-left: 1.3em;
}

.messages-head img{
    width: 3em;
    background: var(--yellow-ish-1);
    border-radius: 50%;
}

.the-messaging-app{
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow-y: auto;
}

.message-logs{
    flex: auto;
    background: var(--white-ish-1);
    overflow-y: auto;
    color: black;
    padding: 0 0 5em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.center-box{
    margin: auto!important;
    text-align: center;
}

.text-form{
    /* display: flex; */
    flex: initial;
}

.text-to-send{
    display: flex;
}

.text-to-send input{
    flex: auto;
}

.text-to-send button{
    flex: initial;
}

.message-logs>div{
    width: max-content;
    max-width: 60%;
    padding: 1em 1.5em;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 1em 1.5em;
    min-width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.message-logs .outcoming{
    margin-left: auto;
    border-radius: 10px 10px 0 10px;
    background: var(--yellow-ish-1);
    color: var(--white-ish-1);
}

.message-logs .incoming{
    margin-right: auto;
    border-radius: 10px 10px 10px 0px;
    background: var(--grey-2);
}

.single-date{
    color: var(--white-ish-1);
    font-size: .7em;
    opacity: .7;
    position: relative;
    /* margin: 0 1em; */
    top: .8em;
}

.incoming .single-date{
    width: max-content;
    margin-left: auto;
}
.outcoming .single-date{
    width: max-content;
    margin-right: auto;
}

.the-inner{
    height: 100%;
}
