.wallet-content{
    flex-direction: column;
    color: var(--white-ish-1);
    max-height: 388px;
    overflow: hidden;
}

.table-holder{
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.table-holder table.stuff{
    width: 100%;
    border-collapse: collapse;
}

.table-holder table.stuff thead{
    position: sticky;
    background: var(--grey-4);
    top: 0;
    z-index: 1;
}

.table-holder table.stuff tbody{
    background: var(--white-ish-1);
    color: var(--grey-4);
    font-family: monospace;
}

table.stuff th:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 40%;
    background: var(--white-ish-1);
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

table.stuff td, table.stuff th{
    padding: .5em .8em;
    position: relative;
}

td .meta{
    background: var(--grey-2);
    color: white;
    cursor: pointer;
    padding: .1em .5em;
    border-radius: 5px;
    opacity: .8;
    transition: .2s;
}

table.stuff tbody tr td span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    width: max-content;
}

table.stuff tbody tr:nth-child(2n){
    background: var(--grey-1);
}

.stuff tr>*:nth-child(2){
    text-align: center;
}

.stuff tr>*:nth-child(3){
    text-align: right;
}

table.stuff tbody tr:hover{
    background: #d0e7ea;
    transition: .2s;
}

td.at{
    color: red;
}
/* 
td.co{
    color: royalblue;
} */

td.termine{
    color: green;
}

td[colspan]{
    text-align: center;
}

@media only screen and (max-width: 1200px){
    div.wallet-content{
        padding: 2em 1em;
    }
    table.stuff{
        min-width: 550px;
    }
}