.Page {
    text-align: center;
}

.Page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: var(--white-ish-1);
    padding-top: 2em;
    font-family: Aileron;
}

.checkout-button, .Page .form-holder button {
    background: var(--yellow-ish-1);
    display: block;
    color: var(--white-ish-1);
    padding: 1em 0em;
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: Athelas;
    text-transform: uppercase;
    font-size: .8em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 0 0px var(--brownish-2);
    border: 1px solid var(--yellow-ish-1);
    transition: .4s;
}

.checkout-button:hover, .Page .form-holder button:hover {
    box-shadow: inset 0 0 0 5px var(--grey-2);
    transition: .4s;
}

.payment-div {
    padding: 2em;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    max-width: 400px;
}

.form-holder{
    display: flex;
    flex-direction: column;
    gap: .8em;
    margin-top: .8em;
}

.payInp{
    padding: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0px 0px var(--white-ish-1);
    transition: .3s;
}

.payInp:focus{
    box-shadow: 0 0 4px 1px var(--white-ish-1);
    transition: .3s;
}

.for-the-inp{
    width: 100%;
    display: grid;
    gap: .5em;
    grid-template-columns: auto max-content;
}

.unit{
    margin: auto;
    font-weight: 800;
    font-size: 1.2em;
}

.back-to{
    font-size: .8em;
    max-width: 20em;
    margin-bottom: 2em;
}

.stuff{
    text-align: justify;
}