.profile-form{
    background: var(--grey-4);
    border-radius: 10px;
    position: relative;
    padding: 3em 4em;
}

label[for='uploader']{
	display: inline-block;
	cursor: pointer;
	font-size: .8em;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#uploader{
    display: none;
}

.save__or__edit__button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: .7;
    transition: .1s;
}

.save__or__edit__button:hover{
    opacity: 1;
    transition: .1s;
}

.save__or__edit__button img{
    background: var(--grey-4);
    width: 20px;
    padding: 13px;
    position: static!important;
    z-index: 1;
}

.save__or__edit__button .button-inner{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: .5em;
}

.abort-save__ .abort-inner{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: .5em;
}

.abort-save__{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: .7;
    transition: .1s;
}

.abort-save__ .abort-crosses{
    width: 50px;
    height: 50px;
    position: relative;
    background: var(--grey-4);
    z-index: 1;
}

.button-inner .text-sliding{
    text-transform: uppercase;
    font-weight: 800;
    transform: translate(calc(100% + .5em));
    transition: .2s;
    z-index: 0;
}


.abort-inner .text-sliding{
    text-transform: uppercase;
    font-weight: 800;
    transform: translate(calc(-100% - .6em));
    transition: .2s;
    z-index: 0;
}

.abort-inner:hover .text-sliding{
    transform: translate(0);
}

.abort-save__:hover{
    opacity: 1;
}

.abort-crosses .abort{
    width: 70%;
    height: 5px;
    background: var(--white-ish-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.abort-crosses .abort+.abort{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.button-inner:hover .text-sliding{
    transform: translate(0);
}

.profile-form{
    display: grid;
    grid-template-rows: auto auto min-content auto;
    color: var(--white-ish-1);
    grid-row-gap: 1.5em;
    overflow: hidden;
}

.profile-form input{
    border: none;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1em;
}

.meta__key input[disabled]{
    color: var(--yellow-ish-1);
    font-weight: 700;
}

.name-country{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.label__and__input{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.email__phone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.meta__key .label__and__input,
.save-edit{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.meta__key .label__and__input input/*,
.save-edit .upload,
.save-edit .download*/
{
    height: 3em;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 0 0 #000;
}

.save-edit .upload,
.save-edit .download{
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 0 0 #000;
    background: var(--white-ish-1);
}

*{
    --image--for--inp--width: 3em;
}

#pdf-down img,
#pdf-up img,
#jpeg-down img,
#jpeg-up img{
    height: var(--image--for--inp--width);
}

#up-im, #down-im{
    width: var(--image--for--inp--width);
}

#upload, #download{
    height: min-content;
    width: min-content;
}

.input label,
.output label{
    display: grid;
    grid-template-columns: auto auto auto;
}

.hoverableImg{
    position: relative;
    cursor: pointer;
    margin-left: 15px;
}

.hoverableImg img.floatty{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .1s;
}

.hoverableImg img:not(.floatty){
    opacity: 1;
    transition: .1s;
}

.hoverableImg:hover img.floatty{
    opacity: 1;
    transition: .1s;
}
.hoverableImg:hover img:not(.floatty){
    opacity: 0;
    transition: .1s;
}

.fullrows{
    grid-row: span 4;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.fullrows>*{
    flex: 1;
}

.one_{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
}
.two_{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.one_one, .two_one, .thr_one{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: .5em;
}
.fullrows .grad_bar{
    width: 100%;
}

.thr_{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3em;
}

.thr_ .grad_bar, .fou_ .grad_bar{
    height: 50%;
}

.fou_{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
}

@media only screen and (max-width: 700px){
    .fullrows{
        height: 400px;
    }
}

@media only screen and (max-width: 600px){
    .name-country, .email__phone, .save-edit, .meta__key{
        max-width: calc(100vw - 8em);
    }
    .meta__key .label__and__input{
        grid-template-columns: 20% 78%;
        column-gap: 2%;
        grid-template-rows: auto;
    }
    .meta-key-disp{
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fullrows{
        height: 300px;
    }
}

@media only screen and (max-width: 500px){
    .name-country, .email__phone, .save-edit, .meta__key{
        max-width: calc(100vw - 2em);
    }
    .meta__key .label__and__input{
        row-gap: 10px;
    }

}

@media only screen and (max-width: 400px){
	.name-country{
		grid-template-columns: 100%!important;
        max-width: calc(100vw - 2em);
	}
    .email__phone, .label__and__input{
        max-width: calc(100vw - 2em);
    }
    .meta-key-disp{
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* .one_{
        grid-template-columns: 1fr;
        grid-row: span 3;
    } */
}