/*palette*/
*{
	--bgstop-1: #3a3a3a;
	--bgstop-2: #353533;
	--grey-1: #ccc;
	--grey-2: #606060;
	--grey-3: #8b898c;
	--grey-4: #3c3c3c;
	--brownish-1: #c7aa82;
	--brownish-2: #a4854f;
	--white-ish-1: #e6e6e6;
	--yellow-ish-1: #b59600;
	--pink-ish-1: #dd4087;
	--blue-ish-1: #279ce1;
}

.invisible{
	display: none;
}

body{
	background: radial-gradient(var(--bgstop-1), var(--bgstop-2));
	background-size: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	display: flex;
}

#root{
  width: 100%;
  /* height: 100%;
  margin: auto; */
}

input:focus{
  outline: none;
}

a, h1{
	color: white;
	display: block;
	width: max-content;
	margin: auto;
}

.dot{
	pointer-events: none!important;
}

.not-connected{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	color: var(--white-ish-1);
	font-size: 1.5em;
}

.centerL{
	margin: unset;
	text-decoration: none;
	padding: 1em 2em;
	background: var(--brownish-1);
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--brownish-2);
	transition: .4s;
}

.centerL:hover{
	background: var(--brownish-2);
	transition: .4s;
}

.label_copy{
	display: flex;
	align-items: center;
	gap: .6em;
	cursor: pointer;
}

.label_copy img{
	height: 1.2em;
}

.text-loading{
	text-align: center;
}