@font-face {
    font-family: 'Athelas';
    src: url('fonts/Athelas-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Athelas Bold';
    src: url('fonts/Athelas-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Regular.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Aileron Bold';
    src: url('fonts/Aileron-Bold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  