.date, .crumb, .user-name{
	font-family: Athelas;
}

.header{
	width: 100%;
	color: var(--white-ish-1);
}

img.header-banner{
	width: 100%;
}

.header-bar{
	display: flex;
	justify-content: space-between;
	padding: 10px 3em;
	align-items: center;
}

.header-bar .left{
	float: left;
}

.header-bar .right{
	float: right;
}

.left, .right{
	display: flex;
	align-items: center;
}

.vertical-dots{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1em;
	cursor: pointer;
	position: relative;
	align-self: stretch;
}

.vertical-dots.act{
	background: var(--grey-4);
}

.dot{
	width: 5px;
	height: 5px;
	background: var(--white-ish-1);
	border-radius: 50%;
	margin: 3px;
}

.avatar{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--yellow-ish-1);
	width: 3em;
	height: 3em;
	border-radius: 50%;
	cursor: pointer;
}

.user-name{
	display: flex;
	align-items: center;
	margin: auto 1.5em;
	font-weight: 800;
	text-transform: capitalize;
}

.crumb{
	color: var(--yellow-ish-1);
	padding: 0 2em;
	border-left: 2px solid var(--yellow-ish-1);
	height: 100%;
	/* font-size: 1.8em; */
	/* font-variant-caps: all-small-caps; */
	text-transform: uppercase;
}

.crumb h2{
	margin: .3em;
	font-weight: 600;
}

.date{
	font-size: 1.5em;
	padding-right: 3em;
}

.hidden-menu{
	/* display: none; */
	position: absolute;
	bottom: 0;
	right: 0;
	width: max-content;
	transform: translate(0, calc(100% - 1px));
	box-sizing: border-box;
	padding: 0 1em;
	box-shadow: 0 5px 5px 0 #222;
	border: 1px solid var(--white-ish-1);
	z-index: 3;
	background: var(--grey-4);
}

.hidden-menu ul{
	list-style-type: none;
	padding: 0;
}

.hidden-menu .menu-list .menu-item{
	padding: .7em 1.5em;
	cursor: pointer;
	position: relative;
}

.menu-item{
	display: flex;
	gap: 1em;
}

.supperpos{
	position: relative;
}

.supperpos *[floatter="true"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	transition: .3s;
}

.menu-item:hover .supperpos *[floatter="true"]{
	opacity: 1;
	transition: .3s;
}

.new-message-indic{
	position: absolute;
	background: var(--yellow-ish-1);
	width: .8em;
	height: .8em;
	border-radius: 50%;
	z-index: 2;
	top: -.4em;
	right: -.4em;
}

.menu-item img{
	width: 1.7em;
}

.menu-item::after{
	content: '';
	display: block;
	width: 0%;
	height: 4px;
	background: var(--white-ish-1);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: inherit;
}

.menu-item:hover::after{
	width: 100%;
	transition: inherit;
}

.hidden-menu .menu-list .menu-item:hover{
	transition: .4s;
}

.borderer{
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid var(--white-ish-1);
	border-bottom: 1px solid var(--grey-4);
	z-index: 4;
}

.green-dot{
	margin-right: .5em;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #5b5;
	animation: blinker 2s alternate ease-in-out infinite;
}

@keyframes blinker{
	from{
		background: #5b5;
	}
	to{
		background: #5f5;
	}
}

@media only screen and (max-width: 800px){
	.header-bar{
		padding: 10px 1em;
		flex-direction: column;
	}
	.right, .left{
		width: 100%;
		justify-content: space-between;
	}
	.user-name{
		margin: auto 0;
	}
	.crumb{
		border: none;
		padding: 0;
	}
	.header-bar{
		position: relative;
	}
	.avatar{
		width: unset;
		height: unset;
		aspect-ratio: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

@media only screen and (max-width: 500px){
	.avatar{
		position: static;
		width: 3em;
	}
}