
/*
    C r e a t e   a c c o u n t   p a g e
*/

.completion-compte{
	width: 100%;
}

.head-banner{
	width: 100%;
}

.head-banner img{
	width: 100%;
}

.completion-compte .modal-form{
	position: absolute;
	background: var(--grey-2);
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 40px;
	color: var(--white-ish-1);
	border-radius: 10px;
	box-shadow: 0 20px 7px 0 #0008;
}

.completion-compte .modal-content{
	width: 28em;
}


.completion-compte .label-input{
	width: 15em;
	height: max-content;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 2.7em 1fr;
}

.completion-compte .label-input .label{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--white-ish-1);
}

.completion-compte .modal-form input{
	height: 2.7em;
	padding: 0 10px;
	background: var(--grey-3);
	border: none;
	border-radius: 5px;
	color: var(--white-ish-1);
}

.completion-compte .input input{
	width: 100%;
	box-sizing: border-box;
}

.completion-compte .spacer{
	width: 5em;
}

.completion-compte .form-title{
	text-align: center;
	font-variant-caps: all-small-caps;
}

.completion-compte .form-grid{
	display: grid;
	grid-template-columns: 2fr 5fr;
	margin: 10px auto;
}

.completion-compte .form-grid .label{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.completion-compte .form-grid .input{
	display: flex;
	flex-shrink: 1;
	flex-basis: 100%;
}

.completion-compte .form-grid .input input{
	width: 100%;
}

.completion-compte .form-grid .input input[name='city-2']{
	width: 50%;
}

.completion-compte .input select{
    height: 2.5em;
    background: var(--grey-3);
    border-radius: 5px;
    border: none;
    width: 100%;
}

.completion-compte .label-input{
	width: 14em;
	height: max-content;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 2fr 6fr;
}

.completion-compte .label-input div.label{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--yellow-ish-1);
}

.completion-compte .label-input .label+input{
	border-radius: 0 5px 5px 0;
	width: 100%;
}

.label img+label{
	margin-left: 10px;
}

.denied{
	position: absolute;
	background: var(--pink-ish-1);
	color: var(--white-ish-1);
	border-radius: 10px;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 150%);
	width: max-content;
}

.invisible{
	opacity: 0;
	transition: .2s;
	pointer-events: none;
}

#file-upload{
	display: none;
}

.completion-compte .label-upload{
	display: inline-block;
	cursor: pointer;
	background: var(--grey-3);
	font-size: .8em;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.completion-compte .label-input.uploader{
	width: 15em;
	height: 3em;
}

.completion-compte .label-input.uploader .label label{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.completion-compte .form-button{
	background: var(--brownish-2);
	padding: 10px 50px;
	font-variant-caps: all-small-caps;
	color: var(--white-ish-1);
	border: none;
	font-size: 1.2em;
	border-radius: 10px;
	margin: 30px auto;
	display: block;
	cursor: pointer;
	letter-spacing: .2em;
    width: max-content;
    transition: .4s;
}

@media only screen and (max-width: 1200px){
	.completion-compte .modal-form{
		top: 70%;
	}
}

@media only screen and (max-width: 1024px){
	.completion-compte .modal-form{
		top: 65%;
	}
}

@media only screen and (max-width: 850px){
	.completion-compte .modal-form{
		top: 60%;
	}
}

@media only screen and (max-width: 600px){
	.completion-compte .modal-form{
		position: static;
		transform: none;
		position: relative;
		top: 0;
		left: 0;
		border-radius: 0;
	}
	.completion-compte .modal-form .modal-content{
		width: 100%;
		top: 0;
		left: 0;
	}
	.completion-compte img[alt='geom']{
		z-index: 0;
		width: 110%;
	}
	.completion-compte button[type='submit']{
		position: relative;
		z-index: 1;
	}
	.spacer{
		display: none;
	}
}

@media only screen and (max-width: 500px){
	.completion-compte .form-grid .input[name="naissance"],
	.completion-compte .form-grid .input[name="city"]{
		flex-direction: column;
		gap: 5px;
	}
	.completion-compte .form-grid .label{
		align-items: center;
		flex-direction: column;
	}
	.form-grid::after{
		content: '';
		width: 80%;
		margin: 10px auto;
		height: 2px;
		background: var(--white-ish-1);
		grid-column: 1 / 3;
	}
}

@media only screen and (max-width: 400px){
	.completion-compte .label-input.half{
		width: 100%;
		margin: 10px auto;
	}
	.form-title{
		font-size: 7vw;
	}
	.completion-compte .form-grid{
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto;
	}
	.input{
		grid-column: 1;
		grid-row: 2;
	}
	.label img+label{
		margin: 0;
	}
	.label-input.uploader .input{
		grid-column: 2;
		grid-row: 1;
	}
}

.input-date label{
	display: block;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(150%, -50%);
	cursor: pointer;
}
.input-date label img{
	width: 100%;
}

#date-picker{
	position: absolute;
    right: 0;
    top: 100%;
    padding: 0;
	width: 0;
	height: 0;
}

#dater{
	position: relative;
}

@media only screen and (max-width: 960px){
	#date-picker{
		left:0;
	}
}

.form-grid select{
	color: var(--white-ish-1);
	padding: 0 1em;
}

.refused{
	background: grey!important;
	pointer-events: none;
}
label#dpk {
	display: inline-block;
	line-height: 0;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(150%, -50%);
	cursor: pointer;
}

input#dpk {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	border: 0;
	overflow: hidden;
	cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
	position: absolute;
	top: -150%;
	left: -150%;
	width: 300%;
	height: 300%;
	cursor: pointer;
}

button#calendar_text {
	width: 1.5em;
	height: 1.5em;
	border: none;
	background: transparent;
	padding: 0;
}