.inner-bill{
    font-family: Athelas;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.bill-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: inset 0 0 0 3px white, inset 0 0 0 4px;
}

.bill-head{
    display: grid;
    grid-template-columns: auto 10em max-content;
    max-width: 100%;
}

.bill-details{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.details-line{
    display: grid;
    grid-template-columns: auto auto;
    padding: .5em 1.5em;
    column-gap: 1em;
    row-gap: .6em;
    margin-block: auto;
}

.details-line .details-value{
    font-family: monospace;
    font-weight: 800;
    font-size: 1.1em;
    text-align: right;
}

.details-label{
    position: relative;
}
.details-label::after{
    position: absolute;
    content: ':';
    top: 50%;
    right: 0;
    transform: translate(calc(50% + .5em), -50%);
}

table.bill{
    border-collapse: collapse;
    margin: 2em auto;
}
table.bill td, table.bill th{
    border: 1px solid black;
    padding: .5em 1em;
    font-family: monospace;
}
table.bill td{
    text-align: right;
}

.bill-actions{
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.bill-actions button{
    padding: .8em 2em;
    cursor: pointer;
}

table.status{
    margin: auto;
    border-collapse: collapse;
}

table.status td{
    border: 1px solid black;
    padding: .5em 1em;
    font-family: monospace;
}

table.status tr td:first-child{
    font-weight: 800;
}

.one{
    border: none;
    position: relative;
    transition: .3s;
    background: var(--grey-1);
    overflow: hidden;
    border-radius: 4px;
    /* background: var(); */
}

.inner-one{
    display: flex;
    gap: .6em;
    align-items: center;
    background: transparent;
    position: relative;
    z-index: 1;
    font-weight: 800;
    transition: .3s;
}
/* 
.one:hover .inner-one{
    transform: scale(1.02);
} */

.inner-one img{
    width: 2em;
}

.inner-one .hoverable-img{
    position: relative;
}

.inner-one .hoverable-img img{
    opacity: 1;
    transition: .3s;
}

.inner-one .hoverable-img img.floater{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.one:hover .hoverable-img img{
    opacity: 0;
}
.one:hover .hoverable-img img.floater{
    opacity: 1;
}
/* 
.one::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    content: "";
    background: var(--brownish-2);
    z-index: 0;
    transition: .3s;
}

.one:hover::after{
    width: 100%;
} */