.loginModalContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000e!important;
}

.loginModalContainer .loginForm{
    background: var(--grey-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    color: var(--white-ish-1);
    max-width: 400px;
    border-radius: 10px;
    /* gap: .5em; */
}

.loginModalContainer .loginForm h2{
    margin-block: 0;
}

.line_{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 2em;
    align-items: center;
}

.line_ label{
    flex: 1;
}

.line_ input{
    flex: auto;
    height: 100%;
}

.inModalForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.line_ button{
    width: 100%;
    cursor: pointer;
    /* border: none; */
    border-radius: 3px;
    /* min-height: 78px; */
}

.line_ button .text-loading{
    transform: scale(.7);
}

.line_ button.button-1{
    padding: unset;
    border: none;
    background: transparent;
}
.line_ button.button-0{
    /* padding: unset; */
    background: var(--yellow-ish-1);
    border: var(--yellow-ish-1) 2px solid;
}

/* #9f0b0b */

.line_ button.button-3{
    /* padding: unset; */
    background: #9f0b0b;
    border: #9f0b0b 2px solid;
    color: var(--white-ish-1);
    opacity: .5;
    pointer-events: none;
}