label[for='uploader']{
	display: inline-block;
	cursor: pointer;
	font-size: .8em;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#uploader{
    display: none;
}

.save-edit .upload,
.save-edit .download{
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 0 0 #000;
    background: var(--white-ish-1);
}

*{
    --image--for--inp--width: 3em;
}

#upload, #download{
    height: min-content;
    width: min-content;
}

.hoverableImg{
    position: relative;
    cursor: pointer;
    margin-left: 15px;
}

.hoverableImg img.floatty{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .1s;
}

.hoverableImg img:not(.floatty){
    opacity: 1;
    transition: .1s;
}

.hoverableImg:hover img.floatty{
    opacity: 1;
    transition: .1s;
}
.hoverableImg:hover img:not(.floatty){
    opacity: 0;
    transition: .1s;
}

.download-container img{
    width: var(--image--for--inp--width);
}

.guides{
    color: var(--white-ish-1);
}

.download-container{
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 5px;
    padding: .2em .5em;
    background: var(--white-ish-1);
    border-radius: 10px;
    width: min-content;
    box-shadow: 0 10px 3px 0 #000;
}

.guides{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4em 3em;
}

.guide-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 700px){
    .guides{
        gap: 2em;
    }
}

@media only screen and (max-width: 540px){
    .guide-line{
        flex-direction: column;
        gap: 1em;
    }
    .guides{
        gap: 2em;
    }
    .guide-title{
        text-align: center;
    }
}