.tabulable{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5em auto;
}

.customers-list{
    position: relative;
    padding: 2em 0;
    background: var(--grey-4);
}
.list-of{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: var(--grey-4); */
    border-radius: 10px;
    padding: 0em 3em 1em;
    gap: 1.5em;
    max-height: 388px;
    overflow-y: auto;
}

.end{
    color: var(--white-ish-1);
    width: 100%;
    text-align: center;
}

.userSname, .userSkey{
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
}

.userSname::after{
    content: ":";
    display: inline-block;
    position: absolute;
    right: 0;
}

.customer-line{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    padding: .5em 2em;
    background: var(--white-ish-1);
    border-radius: 10px;
    box-shadow: 0 10px 1px 0px #000;
    position: relative;
    transition: .2s;
    cursor: pointer;
    width: 90%;
}

.userSkey.b .ellipsis{
    color: black;
    margin: auto;
}

.customer-line:hover::after{
    content: "";
    position: absolute;
    width: 98.5%;
    height: 6px;
    border-radius: 0 0 20px 20px;
    background: var(--yellow-ish-1);
    bottom: 0;
    transform: translate(-50%, 100%);
    left: 50%;
}

.customer-line:hover{
    transform: scale(1.01);
    transition: .2s;
}

.customer-line img{
    height: 2em;
}

.customer-info{
    display: grid;
    /* grid-template-columns: 1fr 2fr 4fr; */
    grid-template-columns: min-content 3fr 4fr;
    gap: 1em;
}

.userSkey{
    color: var(--yellow-ish-1);
    font-weight: 700;
    overflow: hidden;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
}

.downs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}

.down{
    display: flex;
}

@media only screen and (max-width: 600px){
    .tabulable{
        grid-template-rows: auto auto;
    }
    .customer-line{
        grid-template-columns: 100%;
    }
    .downs{
        width: max-content;
        margin: auto;
    }
    .customer-info{
        grid-template-columns: 1fr 3fr 4fr;
    }
}

@media only screen and (max-width: 450px){
    .customer-info{
        grid-template-columns: 1fr 3fr;
    }
    .userSkey{
        grid-column: 1 / 3;
    }
    .userSname{
        padding-right: 1em;
        width: max-content;
    }
}