
/*
             c o n t e n t
*/

.my-account .content{
	margin: 0 3em 5em;
	display: grid;
	grid-template-columns: 19% 19% 60%;
	grid-gap: calc(1%);
}

.my-account .content>div{
	background: var(--grey-4);
	border-radius: 10px;
	max-width: 100vw;
}


		/*Sidebar*/
.menu-list{
	list-style-type: none;
	padding: 0 2em;
	margin-top: 20px;
}

li a.menu-link{
	text-decoration: none;
	color: var(--white-ish-1);
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	height: 2.2em;
}

li a.menu-link img{
	margin: auto;
}

.menu-list li{
	/*border: 2px solid transparent;*/
	padding: .7em .9em;
	position: relative;
	transition: all .4s;
}

.menu-list li::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	background: var(--yellow-ish-1);
	bottom: 0;
	left: 0;
}

.menu-list li:hover, .menu-list li.active{
	/*border-bottom: 2px solid var(--yellow-ish-1);*/
	transition: all .4s;
	transform: translate(.5em, 0);
}

.menu-list li:hover::after, .menu-list li.active::after{
	width: 100%;
	transition: .4s ease-in-out;
}

.dacmi-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

		/*add-data*/
.content div.add-data{
	background: transparent;
	color: var(--white-ish-1);
}

.content div.add-data>.data{
	background: var(--grey-4);
	border-radius: 10px;
}

.data h2, .data p{
	margin: 0;
}

.add-data{
	display: grid;
	grid-template-rows: 1fr 1fr 3fr;
	grid-row-gap: 10px;
}

.add-data .data{
	padding: 1em 2em;
	text-align: center;
	color: var(--white-ish-1);
	position: relative;
}

.add-data .data p{
	color: var(--grey-2);
}

#meta-mask h2{
	color: var(--grey-2);
}

.horizontal-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px 10px;
}

.horizontal-dots .dot{
	background: var(--grey-2);
	transition: .2s;
}

.horizontal-dots:hover .dot{
	background: var(--white-ish-1);
	transition: 2s;
}

.horizontal-dots .menu-thing{
	position: absolute;
	right: 0;
	top: 0;
	width: max-content;
	transform: translate(100%, 0);
	background: var(--grey-4);
	border: var(--white-ish-1) 1px solid;
	padding: 5px;
	z-index: 2;
}

.menu-thing .mini-list{
	padding: 0;
	list-style-type: none;
}

.mini-list .mini-item{
	padding: 7px 10px;
	color: var(--grey-2);
	position: relative;
}

.mini-list .mini-item::after{
	position: absolute;
	content: '';
	width: 0%;
	height: 2px;
	bottom: 0;
	background: var(--white-ish-1);
	left: 0;
	transition: .4s ease-in-out;
}

.mini-list .mini-item:hover::after{
	width: 100%;
	transition: .4s ease-in-out;
}

.mini-list .mini-item:hover{
	color: var(--white-ish-1);
	transition: .4s ease-in-out;
}

.my-account .content .tabulable{
	background: transparent;
}

.my-account .content .tabulable .tabulable-content{
	background: var(--grey-4);
	border-radius: 10px;
	display: grid;
	grid-template-rows: 1.5fr 3fr;
	padding: 2em 3em;
	grid-row-gap: 10px;
	position: relative;
}

.tabulable{
	display: grid;
	grid-template-rows: 5em auto;
	grid-row-gap: 20px;
}

.tabs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.tab{
	background: var(--grey-4);
	border-radius: 10px;
	cursor: pointer;
	color: var(--white-ish-1);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.tab::after{
	content: '';
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--yellow-ish-1);
	opacity: 0;
	transition: .3s;
}

.tab:hover::after{
	opacity: 1;
	transition: .3s;
}

.tab.active::after{
	opacity: 1;
}

.my-key{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bgstop-2);
	border-radius: 10px;
	color: var(--white-ish-1);
}

.my-key p{
	margin: 0
}

.my-key span{
	color: var(--yellow-ish-1);
    margin-left: .5em;
}

.methods{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 5px;
	color: var(--white-ish-1);
}

.methods .images{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*gap: 10px;*/
}

.cards .payment-line{
	display: flex;
	align-items: center;
	width: 100%;
}

.refresher{
	width: 1.5em;
	height: 1.5em;
	border: 2px solid var(--white-ish-1);
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 20px;
	cursor: pointer;
}

.refresher::after{
	content: '';
	height: calc(100% + 4px);
	width: 8px;
	background: var(--grey-4);
	position: absolute;
	top: -2px;
	left: calc(50% - 4px);
}

.refresher:hover{
	animation: rotate 1s linear infinite;
}

@keyframes rotate{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}

.triangle{
	width: 0;
	height: 0;
	border: 4px solid transparent;
	position: absolute;
	z-index: 2;
}

.up{
	border-left-color: var(--white-ish-1);
	top: -4px;
	left:  calc(50% - 4px);
}

.down{
	border-right-color: var(--white-ish-1);
	bottom: -4px;
	left:  calc(50% - 4px);
}

.add-data img{
    max-width: 100%;
}

#meta-mask img{
    margin-top: 15%;
}

.text-link{
    margin-left: 1em;
}

.methods .images img{
    width: 50%;
}

.my-account .menu-list li a img{
	width: 1.6em;
}

.superposed{
	width: 1.6em;
	position: relative;
}

.superposed img.thing1{
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
	transition: .2s;
}

.menu-list li:hover img.thing1,
.menu-list li.active img.thing1{
	opacity: 1;
	transition: .2s;
}

.menu-list li:hover img.thing2,
.menu-list li.active img.thing2{
	opacity: 0;
	transition: .2s;
}

.wallet-content{
	background: var(--grey-4);
	border-radius: 10px;
	padding: 2em 3em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wallet-content .table{
	padding: 1.5em 3em;
	background: var(--white-ish-1);
	color: var(--grey-4);
	width: 100%;
}

.wallet-content .table table{
	width: 100%;
}

.wallet-content .table table,.wallet-content .table th, .wallet-content .table td{
	border: 1px solid var(--grey-4);
	border-collapse: collapse;
}

.wallet-content .table th,
.wallet-content .table td{
	padding: 2px 15px;
	min-width: max-content;
	text-align: left;
}

.wallet-content .table table tr:nth-child(2n){
	background: var(--grey-1);
}

.wallet-content .table table td:first-child{
	color: var(--blue-ish-1);
	font-weight: 600;
}

.current-content{
	background: var(--grey-4);
	border-radius: 10px;
	padding: 2em 3em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow{
	width: 0;
	height: 0;
	border: .3em solid transparent;
	display: inline-block;
	margin-right: .5em;
	position: relative;
	top: -3px;
}

.increase{
	border-bottom-color: var(--yellow-ish-1);
	border-top: 0 solid transparent;
}

.decrease{
	border-top-color: var(--white-ish-1);
	border-bottom: 0 solid transparent;
}

@media only screen and (max-width: 1130px){
	.my-account .content{
		grid-template-columns: 26% 73%;
		gap: 1%;
		grid-template-rows: auto auto;
	}
	.add-data{
		grid-column: 1 / 3;
		grid-row: 2;
		grid-template-rows: 100%;
		grid-template-columns: 1fr 1fr 3fr;
		gap: 1em;
	}
	.my-account #meta-mask{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 2em;
	}
	.add-data .data{
		padding: 2em;
	}
	.my-account #meta-mask img{
		width: 50%;
		margin-top: 0;
	}
}

.hamburgers{
	display: none;
}
.corsses{
	display: none;
}
.menu-activator{
	display: none;
}

.modal-thing{
	position: absolute;
	background: #222a!important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.modal-thing .modal-content{
	background: var(--grey-4);
	padding: 1em 2em;
	width: 30em;
	position: relative;
	z-index: 2;
	border-radius: 10px;
}

.modal-content.fe{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.t{
	width: max-content;
	margin: auto;
}

.modal-overlay{
	position: absolute;
	background: transparent !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.modal-title{
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 2em;
	text-transform: capitalize;
	font-size: 1.6em;
	padding: .8em 0em;
}

.modal-im{
	width: 2em;
	background: var(--yellow-ish-1);
	border-radius: 50%;
	height: 2em;
}

.modal-body{
	background: var(--white-ish-1);
	color: black;
	padding: 1em .5em;
	font-family: monospace;
	font-size: 1.1em;
	display: grid;
	grid-template-columns: auto auto;
	/* column-gap: 1em; */
	/* row-gap: 1em; */
	/* border: 1px solid; */
	/* border-bottom: #0003 solid 2px;
	border-left: #0003 2px solid;
	border-right: var(--grey-2) 2px solid;
	border-top: var(--grey-2) 2px solid; */
	/* box-shadow: inset -2px 2px 4px 0 #0008; */
}

.m-value{
	text-align: right;
}

.m-label{
	text-transform: capitalize;
	position: relative;
	padding-right: .5em;
}

.m-label:after{
	content: ':';
	position: absolute;
	top: 50%;
	right: .25em;
	transform: translate(0, -50%);
}

.modal-body hr{
	border: .5px dashed #0005;
	width: 100%;
}

@media only screen and (max-width: 900px){
	.my-account .content{
		grid-template-columns: 10% 89%;
		gap: 1%;
		grid-template-rows: auto auto;
		transition: all .5s;
	}
	.my-account .content.expanded{
		grid-template-columns: 25% 74%;
	}
	/* .my-account .content:not(.expanded) .text-link{
		display: none;
	} */
	.my-account .menu-list li.active,
	.my-account .menu-list li:hover{
		transform: none;
	}
	/* .content:not(.expanded) .menu-list{
		padding: 0;
	} */
	.content.expanded .menu-list{
		padding: 0 .5em;
	}
	/* .content:not(.expanded) li a.menu-link{
		display: block;
	}
	.content:not(.expanded) .menu-list li::after{
		display: none!important;
	}
	.content:not(.expanded) .dacmi-logo img{
		width: 80%;
	} */
	.hamburgers{
		display: grid;
		height: 1.5em;
		grid-template-rows: repeat(3, 1fr);
		gap: 5px;
		width: 2em;
		margin: 1em auto;
		opacity: .5;
		cursor: pointer;
		transition: .2s;
		transition: margin .5s;
	}
	.expanded .hamburgers{
		margin: 1em 1em 1em auto;
		transition: margin .5s;
		position: relative;
	}
	.expanded .hamburger:nth-child(1){
		position: absolute;
		bottom: 0;
		height: 5px;
		left: 0;
		transform: rotate(45deg);
	}
	.expanded .hamburger:nth-child(2){
		position: absolute;
		bottom: 0;
		height: 5px;
		left: 0;
		transform: rotate(-45deg);
	}
	.expanded .hamburger:nth-child(3){
		opacity: 0;
		transition: .2s;
	}
	.hamburgers:hover{
		opacity: 1;
		transition: .2s;
	}
	.hamburger{
		width: 100%;
		background: var(--white-ish-1);
		border-radius: 10px;
		transition: .2s;
	}
	.add-data .data{
		padding: 2em .5em;
	}
	.my-account .content{
		margin: 0 1em 5em;
	}
}

@media only screen and (max-width: 900px) and (min-width: 701px){
	.my-account .content:not(.expanded) .text-link{
		display: none;
	}
	.content:not(.expanded) .menu-list{
		padding: 0;
	}
	.content:not(.expanded) li a.menu-link{
		display: block;
	}
	.content:not(.expanded) .menu-list li::after{
		display: none!important;
	}
	.content:not(.expanded) .dacmi-logo img{
		width: 80%;
	}
}

@media only screen and (max-width: 700px){
	.my-account .content{
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		transition: all .5s;
		position: relative;
	}
	.side-menu{
		position: absolute;
		top: 0;
		left: 0;
		right: 0%;
		bottom: 0;
		z-index: 2;
		background: #000c!important;
	}
	.tabulable, .profile-form{
		grid-column: 1;
		grid-row: 1;
	}
	.menu-list{
		background: var(--grey-4);
		border-radius: 5px;
		width: 10em;
		margin: auto;
		text-align: center;
		padding: 0 2em 1em;
	}
	.content{
		padding-top: 3em;
	}
	.menu-activator{
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translate(-50%, 0);
		display: block;
		width: 2em;
		height: 1.5em;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 5px;
		width: 2em;
		cursor: pointer;
		transition: .2s;
	}
	.hamburgers{
		display: none;
	}
	.crosses{
		display: block;
		position: relative;
		height: 1.5em;
		width: 2em;
		margin: 1em auto;
		opacity: .5;
		cursor: pointer;
		transition: .2s;
	}
	.cross{
		width: 100%;
		height: 5px;
		background: var(--white-ish-1);
		transform: rotate(45deg);
		position: absolute;
		top: 0;
	}
	.cross:first-child{
		transform: rotate(-45deg);
	}
	.crosses:hover{
		opacity: 1;
		transition: .2s;
	}
	.side-menu:not(.set){
		display: none;
	}
	.side-menu.set{
		z-index: 3;
		animation: slide ease-out .4s;
	}
	.deactivate{
		opacity: 0;
	}
	@keyframes slide{
		from{
			transform: translate(-100%, 0);
		}
		to{
			transform: translate(0, 0);
		}
	}
}

.my-key{
	padding: 2em;
	overflow-wrap: anywhere;
}

canvas{
	width: 100%!important;
}

@media only screen and (max-width: 600px){
	.my-account .content{
		margin: 0 0 5em;
	}
	.add-data{
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		grid-template-rows: auto auto;
	}
	.tabulable{
		grid-template-rows: auto auto;
	}
	.add-data>div:nth-child(3){
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	.tabs{
		grid-template-rows: repeat(3, 3em);
		gap: 10px;
		grid-template-columns: 100%;
	}
	.methods{
		grid-template-columns: 100%;
	}
	.methods .images{
		display: none;
	}
	.methods img{
		max-width: 100%!important;
	}
}

@media only screen and (max-width: 500px){
	.current-content, .wallet-content{
		padding: 3em .5em;
	}
	.wallet-content .table{
		padding: .5em 1em;
	}
	.meta__key .label__and__input, .save-edit{
		grid-template-columns: 100%!important;
		place-items: center;
	}
	.profile-form{
		padding: 3em 1em!important;
	}
}

@media only screen and (max-width: 400px){
	.name-country{
		grid-template-columns: 100%!important;
	}
}