.dstats{
    background: var(--grey-4);
    border-radius: 10px;
    padding: 2em 3em;
    position: relative;
}

@media only screen and (max-width: 600px){
    .dstats{
        padding: 1em 1.5em;
    }
}

@media only screen and (max-width: 400px){
    .dstats{
        padding: .2em .5em;
    }
}