.list-of-users__{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-ish-1);
    flex-direction: column;
    overflow: hidden;
    max-height: 488px;
    padding: 1.5em 0;
}

.list-users-head_{
    flex: initial;
    font-size: 1.4em;
    padding: 1em 0;
}

.inner-list-of__{
    overflow-y: auto;
    /* margin: auto; */
    flex: auto;
    width: 100%;
    padding: 0 2em 2em;
    box-sizing: border-box;
}

.userLine{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1em;
    padding: .4em 1em;
    position: relative;
    text-transform: capitalize;
    /* border: 1px solid var(--white-ish-1); */
    /* margin: 2px 0; */
    /* border-radius: 5px; */
    cursor: pointer;
    transition: .2s;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--white-ish-1);
    color: var(--grey-2);
    border-radius: 15px;
    margin: .7em 0;
    box-shadow: 0 10px 2px 0 black;
}

.userLine:hover{
    transform: scale(1.01);
    /* box-shadow: 0 5px 0px 0 var(--yellow-ish-1), 0 10px 2px 0 black; */
}

.userLine::after{
    content: "";
    position: absolute;
    width: 97%;
    height: 6px;
    border-radius: 0 0 20px 20px;
    background: var(--yellow-ish-1);
    bottom: 0;
    transform: translate(-50%, 100%);
    left: 50%;
    opacity: 0;
}
.userLine:hover::after{
    opacity: 1;
}

.userLine svg, .userLine img{
    border-radius: 50%;
    border: 1px solid var(--grey-2);
    overflow: hidden;
}

.userLine .what{
    width: 2em;
    border-radius: 0;
    margin-left: auto;
    border: none;
    opacity: .1;
    transition: .2s;
}

.userLine:hover .what{
    opacity: 1;
}
/* 
.userLine::after{
    position: absolute;
    content: '';
    background: var(--white-ish-1);
    height: 2px;
    width: 50%;
    bottom: 0;
    opacity: .5;
    left: 50%;
    transform: translate(-50%, 50%);
} */


.username{
    position: relative;
    padding: 0 1em;
}

.username::after{
    content: '';
    position: absolute;
    background: var(--grey-2);
    height: 200%;
    width: 1px;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
    right: 0;
}

.latest{
    opacity: .7;
    text-transform: none!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.latest.unread, .userLine.unread{
    opacity: 1;
    font-weight: 800;
}

.latest .grad_bar{
    height: 2em;
    mix-blend-mode: soft-light;
}

.bars{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.bars .grad_bar{
    height: 4em;
    width: 90%;
}

.imgUser{
    width: 3em;
    height: 3em;
}