
.my-re-account .content{
	margin: 0 3em 5em;
	display: grid;
	grid-template-columns: 20% 79%;
	grid-gap: calc(1%);
}

.my-re-account *{
    font-family: Athelas;
}

.my-re-account .content>div{
	background: var(--grey-4);
	border-radius: 10px;
}


		/*Sidebar*/
.menu-list{
	list-style-type: none;
	padding: 0 2em;
	margin-top: 20px;
}

li a.menu-link{
	text-decoration: none;
	color: var(--white-ish-1);
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	height: 2.2em;
}

li a.menu-link img{
	margin: auto;
}

.menu-list li{
	/*border: 2px solid transparent;*/
	padding: .7em .9em;
	position: relative;
	transition: all .4s;
}

.menu-list li::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	background: var(--yellow-ish-1);
	bottom: 0;
	left: 0;
}

.menu-list li:hover, .menu-list li.active{
	/*border-bottom: 2px solid var(--yellow-ish-1);*/
	transition: all .4s;
	transform: translate(.5em, 0);
}

.menu-list li:hover::after, .menu-list li.active::after{
	width: 100%;
	transition: .4s ease-in-out;
}

.dacmi-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}


.text-link{
    margin-left: 1em;
}

.methods .images img{
    width: 50%;
}

.my-re-account .menu-list li a img{
	width: 1.6em;
}

.superposed{
	width: 1.6em;
	position: relative;
}

.superposed img.thing1{
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
	transition: .2s;
}

.menu-list li:hover img.thing1,
.menu-list li.active img.thing1{
	opacity: 1;
	transition: .2s;
}

.menu-list li:hover img.thing2,
.menu-list li.active img.thing2{
	opacity: 0;
	transition: .2s;
}

.hamburgers{
	display: none;
}
.crosses{
	display: none;
}
.menu-activator{
	display: none;
}

.content-of-things{
    max-height: 488px;
    padding: 2em 0;
    position: relative;
}

.pop-up-text{
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--grey-3);
    padding: 1em 1.5em;
    border-radius: 1em;
    color: var(--white-ish-1);
    font-size: 1.2em;
    pointer-events: none;
    animation: fadeOut 5s linear;
	z-index: 3;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.inner-of-things{
    height: 100%;
    overflow: auto;
    padding: 0em 3em;
}

table.requests{
    border-collapse: collapse;
    width: 100%;
}

table.requests thead{
    position: sticky;
    top: 0;
    background: var(--grey-4);
    color: var(--white-ish-1);
    z-index: 1;
}

.requests .c{
    text-align: center;
}

.requests .r{
    text-align: right;
}

table.requests th{
    padding: .5em 0;
    position: relative;
}

table.requests th:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 40%;
    background: var(--white-ish-1);
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

table.requests tbody{
    background: var(--white-ish-1);
}

table.requests td:first-child{
    min-width: max-content;
    font-weight: 800;
}

table.requests td{
    border: none !important;
    padding: .5em .8em;
}

td .meta{
    background: var(--grey-2);
    color: white;
    cursor: pointer;
    padding: .1em .5em;
    border-radius: 5px;
    opacity: .8;
    transition: .2s;
}

td .meta:hover{
    opacity: 1;
    transition: .2s;
}

td .meta img{
    height: 1em;
    margin-left: .3em;
}

table.requests tbody tr:nth-child(2n){
    background: var(--grey-1);
}

.my-re-account table.requests tbody tr{
    transition: .2s;
    cursor: pointer;
}

.my-re-account table.requests tbody tr td{
    font-family: monospace;
}


.my-re-account table.requests tbody tr td span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	display: inline-block;
	width: max-content;
}

table.requests tbody tr:hover{
    background: #d0e7ea;
    transition: .2s;
}


/*
    M O D A L  T R A N S A C T I O N
*/
.content{
    position: relative;
}

.modal-transaction{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: #222b !important;
    color: var(--white-ish-1);
}

.modal-inner{
    background: var(--grey-4);
    padding: 2em;
    border-radius: 15px;
    position: absolute;
}

.form-transaction{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form-transaction input{
    padding: .7em 1em;
    font-family: monospace;
    font-size: 1.2em;
}

.transactitle{
    text-align: center;
}

/*
    M O D A L  T R A N S A C T I O N --- E N D
*/

@media only screen and (max-width: 1200px){
    .my-re-account div.content .inner-of-things{
        padding: 0em 1em;
    }
    table.requests{
        min-width: 744px;
    }
}

@media only screen and (max-width: 1130px){
	.my-re-account .content{
		grid-template-columns: 26% 73%;
		gap: 1%;
		grid-template-rows: auto auto;
	}
	.my-re-account #meta-mask{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 2em;
	}
	.my-re-account #meta-mask img{
		width: 50%;
		margin-top: 0;
	}
}

@media only screen and (max-width: 900px){
	.my-re-account .content{
		grid-template-columns: 10% 89%;
		gap: 1%;
		grid-template-rows: auto auto;
		transition: all .5s;
	}
	.my-re-account .content.expanded{
		grid-template-columns: 25% 74%;
	}
	/* .my-re-account .content:not(.expanded) .text-link{
		display: none;
	} */
	.my-re-account .menu-list li.active,
	.my-re-account .menu-list li:hover{
		transform: none;
	}
	/* .content:not(.expanded) .menu-list{
		padding: 0;
	} */
	.content.expanded .menu-list{
		padding: 0 .5em;
	}
	/* .content:not(.expanded) li a.menu-link{
		display: block;
	}
	.content:not(.expanded) .menu-list li::after{
		display: none!important;
	}
	.content:not(.expanded) .dacmi-logo img{
		width: 80%;
	} */
	.hamburgers{
		display: grid;
		height: 1.5em;
		grid-template-rows: repeat(3, 1fr);
		gap: 5px;
		width: 2em;
		margin: 1em auto;
		opacity: .5;
		cursor: pointer;
		transition: .2s;
		transition: margin .5s;
	}
	.expanded .hamburgers{
		margin: 1em 1em 1em auto;
		transition: margin .5s;
		position: relative;
	}
	.expanded .hamburger:nth-child(1){
		position: absolute;
		bottom: 0;
		height: 5px;
		left: 0;
		transform: rotate(45deg);
	}
	.expanded .hamburger:nth-child(2){
		position: absolute;
		bottom: 0;
		height: 5px;
		left: 0;
		transform: rotate(-45deg);
	}
	.expanded .hamburger:nth-child(3){
		opacity: 0;
		transition: .2s;
	}
	.hamburgers:hover{
		opacity: 1;
		transition: .2s;
	}
	.hamburger{
		width: 100%;
		background: var(--white-ish-1);
		border-radius: 10px;
		transition: .2s;
	}
	.add-data .data{
		padding: 2em .5em;
	}
	.my-re-account .content{
		margin: 0 1em 5em;
	}
}

@media only screen and (max-width: 900px) and (min-width: 701px){
	.my-re-account .content:not(.expanded) .text-link{
		display: none;
	}
	.content:not(.expanded) .menu-list{
		padding: 0;
	}
	.content:not(.expanded) li a.menu-link{
		display: block;
	}
	.content:not(.expanded) .menu-list li::after{
		display: none!important;
	}
	.content:not(.expanded) .dacmi-logo img{
		width: 80%;
	}
}

@media only screen and (max-width: 700px){
	.my-re-account .content{
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		transition: all .5s;
		position: relative;
	}
	.side-menu{
		position: absolute;
		top: 0;
		left: 0;
		right: 0%;
		bottom: 0;
		z-index: 2;
		background: #000c!important;
	}
	.tabulable, .profile-form{
		grid-column: 1;
		grid-row: 1;
	}
	.menu-list{
		background: var(--grey-4);
		border-radius: 5px;
		width: 10em;
		margin: auto;
		text-align: center;
		padding: 0 2em 1em;
	}
	.content{
		padding-top: 3em;
	}
	.menu-activator{
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translate(-50%, 0);
		display: block;
		width: 2em;
		height: 1.5em;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 5px;
		width: 2em;
		cursor: pointer;
		transition: .2s;
	}
	.hamburgers{
		display: none;
	}
	.crosses{
		display: block;
		position: relative;
		height: 1.5em;
		width: 2em;
		margin: 1em auto;
		opacity: .5;
		cursor: pointer;
		transition: .2s;
	}
	.cross{
		width: 100%;
		height: 5px;
		background: var(--white-ish-1);
		transform: rotate(45deg);
		position: absolute;
		top: 0;
	}
	.cross:first-child{
		transform: rotate(-45deg);
	}
	.crosses:hover{
		opacity: 1;
		transition: .2s;
	}
	.side-menu:not(.set){
		display: none;
	}
	.side-menu.set{
		z-index: 3;
		animation: slide ease-out .4s;
	}
	.deactivate{
		opacity: 0;
	}
	@keyframes slide{
		from{
			transform: translate(-100%, 0);
		}
		to{
			transform: translate(0, 0);
		}
	}
}

@media only screen and (max-width: 600px){
	.my-re-account .content{
		margin: 0 0 5em;
	}
	.add-data{
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		grid-template-rows: auto auto;
	}
	.tabulable{
		grid-template-rows: auto auto;
	}
	.add-data>div:nth-child(3){
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	.tabs{
		grid-template-rows: repeat(3, 3em);
		gap: 10px;
		grid-template-columns: 100%;
	}
	.methods{
		grid-template-columns: 100%;
	}
	.methods .images{
		display: none;
	}
	.methods img{
		max-width: 100%!important;
	}
}

@media only screen and (max-width: 500px){
	.current-content, .wallet-content{
		padding: 3em .5em;
	}
	.wallet-content .table{
		padding: .5em 1em;
	}
	.meta__key .label__and__input, .save-edit{
		grid-template-columns: 100%!important;
		place-items: center;
	}
	.profile-form{
		padding: 3em 1em!important;
	}
}
