.wallet-admin-content{
    background: var(--grey-4);
    border-radius: 10px;
    padding: 2em 3em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

.shadowed-box{
    padding: .8em 2em;
    background: var(--white-ish-1);
    border-radius: 10px;
    box-shadow: 0 10px 1px 0 #000;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .5em;
}

.hyper-things .shadowed-box.one-thing{
    grid-template-columns: 1fr;
    gap: 0;
    place-items: center;
}

.s-label{
    text-align: right;
    padding-right: .5em;
    position: relative;

}

.s-label::after{
    content: ":";
    position: absolute;
    right: 0;
}

.s-value{
    overflow: hidden;
}

.value-container{
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--yellow-ish-1);
    font-weight: 600;
}

.hyper-things{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1em;
}

.hyper-things .shadowed-box{
    grid-template-columns: 1fr 2fr;
    padding: .4em .8em;
}

.hyper-title{
    color: var(--white-ish-1);
    padding: 1em 1em;
}

.hyper-value{
    background: var(--grey-2);
    padding: 1em 1em;
}

.hyper-things .hyper-value:nth-child(2){
    border-radius: 10px 10px 0 0;
}

.hyper-things .hyper-value:last-child{
    border-radius: 0 0 10px 10px;
}

.hyper-value .shadowed-box{
    cursor: pointer;
}

#waiting{
    max-height: 56.8px;
    overflow-y: auto;
}

#pending{
    max-height: 56.8px;
    overflow-y: auto;
}

#finishing{
    max-height: 56.8px;
    overflow-y: auto;
}

.shadowed-box::-webkit-scrollbar{
    width: 0;
}

@supports(scrollbar-width: none){
    .shadowed-box{
        scrollbar-width: none;
    }
}

@media only screen and (max-width: 600px){
    .shadowed-box{
        grid-template-columns: 1fr 1.8fr;
    }
}

@media only screen and (max-width: 500px){
    .hyper-things{
        grid-template-columns: 100%;
        gap: 1em;
    }
    .hyper-title{
        text-align: center;
    }
    .hyper-things .hyper-value{
        border-radius: 10px!important;
    }
}

@media only screen and (max-width: 420px){
    .shadowed-box{
        grid-template-columns: 100%!important;
    }
    .s-label{
        text-align: unset;
        padding-right: 1em;
        width: max-content;
        margin: auto;
    }
}